* {box-sizing: border-box}
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  text-decoration-style: wavy;
}
#background {
  background: url("assets/backgroundmain.jpg") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  min-height: 140vh;

  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
/*___________________________________________________
Navbar Settings */
#nav {
position: relative;
overflow: hidden;
background-color: rgb(255, 197, 111);
}
#nav a{
float: left;
color: #f2f2f2;
text-align: center;
padding: 5px 16px;
text-decoration:none;
font-size: 31px;
transition: background-color 0.5s, color 0.5s;
}
#nav #nav-mid a {
float: none;
position: absolute;
width: 30%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
#nav #nav-right {
float: right;
}
#nav a:hover , #nav a.active{
background-color: rgb(255, 224, 179);
color: black;
}
#nav .contact {
padding: 0px 16px;
}
#nav #emailicon{
display: block;
width: auto;
height: 49px;
}
#nav #nav-left #emailicon{
transform: scaleX(-1);
}
/*___________________________________________________*/

.logo {
  display: block;
  width: 53%;
  padding-top: 10px;
  padding-left: 8%;
  margin-left: auto;
  margin-right: auto;
}
.image {
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-left: auto;
  margin-right:auto;
  font-size: 25px;
  text-align: center;
  width: 50%;
}
h1 {
  text-align: center;
  word-wrap: break-word;
  margin-left:5%;
  margin-right: auto;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  width: 90%;
}
h2 {
  text-align: center;
  margin-top: 0%;
  padding-top: 5px;
  margin-bottom: 0;
  padding-bottom:5px;
  margin-left: 5%;
  margin-right: auto;
  width: 90%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 25%;
  max-width: 33.33%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/*___________________________________________________
The Modal (background) */
.modal {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 1;
  padding: 5px 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.8);
  user-select: none;
  -webkit-user-select: none;
}
/* Hide the slides by default */
.mySlides {
  display: none;
}
.modal-content {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: max-content;
  max-width: 95%;
}
/* the modal image */
.modal img {
  object-fit: contain;
  max-width: 100%;
  max-height: 90vh;

}
/*___________________________________________________*/
/*___________________________________________________
Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot-container {
  display: table;
  position: fixed;
  width: 70%;
  left:15%;
  right:15%;
  top:auto;
  bottom:1%;
  text-align:center;
}

.dot {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 0 2px;
  background-color: rgb(150, 70, 0);
  border-radius: 50%;
  display:inline-block;
  position: relative;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {
  background-color: rgb(255, 149, 0);
}
/*___________________________________________________*/
.slider {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-right: auto;
  display: flex;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}
.slide img {
  max-height: 100%;
  width: 50vw;
}
.slides {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides > div {
  scroll-snap-align: start;
  margin-right: 10px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.booksamplebuttons{
  position: relative;
  float:left;
  margin-left:25%;
  width: 50%;
  bottom: 0;
}
.booksamplebuttons a{
  cursor:pointer;
  text-align:center;
  text-decoration: none;
  width:25%;
  font-size: 50px;
  padding:0px 10px;
  border-radius: 10px;
  color:white;
  background:rgb(255, 149, 0);
}
/*___________________________________________________
Contact Form*/
form {
  margin-left: auto;
  margin-right: auto;
  width: calc(200px + 20vw);
  text-align: center;
}

::placeholder {
  text-align: center;
}

input {
  text-align:center;
}
div.elem-group {
  margin: 40px 0;
}

label {
  display: block;
  padding-bottom: 4px;
  font-size: 1.25em;
  width:100%;
}

input, select, textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  width:100%;
  margin-right:auto;
  margin-left: auto;
  padding: 8px;
}

textarea {
  height: 250px;
}

button {
  height: 50px;
  background: rgb(247, 165, 49);
  color: white;
  border: 4px solid rgb(255, 197, 111);
  font-size: 1.25em;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  border: 4px solid rgb(255, 197, 111);
  background:rgb(255, 224, 179);
  color: black;
}
/*___________________________________________________*/
/*_____________________________________________________________________
Responsive Settings*/
@media screen and (max-width: 900px) {
 
  #background {
    background-attachment: fixed;
    height: fit-content;
  }
  /*___________________________________________________
  Navbar Responsive Settings*/
  #nav #nav-right, #nav #nav-left {
    width: 100%;
  }
  #nav #nav-right a, #nav #nav-left a {
      position: relative;
      text-align: right;
      display: block;
      width: 50%;
  }
  #nav #nav-left a{
      float: right;
  }
  #nav #nav-mid a {
      position: relative;
      width: 100%;
      display: block;
      float: none;
      top: 0;
      left: 0;
      transform: none;
  }
  /*___________________________________________________*/
  .logo {
    width: 90%;
    padding-left: 0%;
  }
  .image {
    max-width: 80%;
  }
  p {
    margin-left: 10%;
    margin-right:10%;
    width: 80%;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .dot-container {
    width: 100%;
    left: 0%;
    right:auto;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/*_____________________________________________________________________*/